<div class="main">
  <h1>Create and share Stories</h1>
  <%= link_to 'Learn more', 'about' %>
</div>
<div class="supporting">
  <div class="container">
    <h1>Relive and share your adventures</h1>
    <p>
      Stories automatically creates a digital journal filled with only your best photos.
    </p>
  </div>
  <div class="container">
  	<img src='#'>
  </div>
  <div class='container'>
    <h1>Discover Stories</h1>
    <%= link_to 'Learn more', 'about' %>
  </div> 
</div>